<div>
    <form id="newNote" action="/newNote">
        <input type="submit" value="Create new Note">
    </form>

    <form id="changeStyle" action="/changeStyle">
        <input type="submit" value="BlackWhite-Style">
    </form>
</div>

<div>
    <form id="byFinishDate" action="/sortByEndDate">
        <input type="submit" value="By finish Date">
    </form>

    <form id="byCreatedDate" action="/sortByCreatedDate">
        <input type="submit" value="By created Date">
    </form>

    <form id="byImportance" action="/sortByImportance">
        <input type="submit" value="By Importance">
    </form>
</div>

<form id="hideFinished" action="/hideFinished">
    {{#if showFinished}}
        <input type="submit" id="finishedIsNotHidden" value="Hide finished">
    {{else}}
        <input type="submit" id="finishedIsHidden" value="Show finished">
    {{/if}}
</form>


{{#each allNotes}}
    <div>
        <p>Erledigt? {{finished}}</p>
        <p>Titel: {{title}}</p>
        <p>{{showImportance importance}}</p>
    </div>
    <div>
        <p>Beschreibung: {{description}}</p>
        <p>Erledigt bis: {{timeUntil endDate}}</p>
        <!--<p>Id: {{_id}}</p>-->
        <p>Erstellt am: {{createdDate}}</p>
    </div>


    <form action="/note/{{_id}}">
        <input type="submit" value="Edit">
    </form>

    <form action='/note/{{_id}}' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Note'>
    </form>
{{/each}}