<div class="row_row_column" xmlns="http://www.w3.org/1999/html">
    <form id="newNote" action="/newNote">
        <input class="btn" type="submit" value="Create new Note">
    </form>
    <div class="spacer"></div>
    <form id="changeStyle" action="/changeStyle">
        <input class="btn {{#if dark}}btnActivated{{/if}}" type="submit" value="BlackWhite-Style">
    </form>
</div>

<div class="rowToColumn" id="btnList">
    <form id="byFinishDate" action="/sortByEndDate">
        <input class="btn {{#if endDateActivated}}btnActivated{{/if}}" type="submit" value="By finish Date">
    </form>

    <form id="byCreatedDate" action="/sortByCreatedDate">
        <input class="btn {{#if createdDateActivated}}btnActivated{{/if}}" type="submit" value="By created Date">
    </form>

    <form id="byImportance" action="/sortByImportance">
        <input class="btn {{#if importanceActivated}}btnActivated{{/if}}" type="submit" value="By Importance">
    </form>
    <div class="spacer"></div>

    <form id="hideFinished" action="/hideFinished">
        <input class="btn {{#unless showFinished}}btnActivated{{/unless}}" type="submit" id="finishedButton" {{#if showFinished}}value="Hide finished" {{else}} value="Show finished" {{/if}}>
    </form>
</div>

{{#each allNotes}}
    <div class="noteElement rowToColumn">
        <div class="grow" id="content">
            <div class="row_row_column headerLine">
                <div class="firstLine">{{timeUntil endDate}}</div>
                <div class="title">{{title}}</div>
                <div class="bold big">{{showImportance importance}}</div>
            </div>
            <div class="rowToColumn">
                <label for="finishedCheckbox" class="firstLine bold">
                    <input type="checkbox" id="finishedCheckbox" name="finished" disabled {{#if finished}}checked{{/if}}>Erledigt!
                </label>
                <textarea class="grow" rows="3" readonly>{{description}}</textarea>
            </div>
        </div>

        <div class="columnToRowToColumn" id="donald">
            <form action="/note/{{_id}}">
                <input class="btn" type="submit" value="Edit">
            </form>

            <form action='/note/{{_id}}' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <input class="btn" type='submit' value='Delete'>
            </form>
        </div>
    </div>
{{else}}
    <p id="noNotes">Keine Todo gefunden</p>
{{/each}}