<div class="row_row_column" xmlns="http://www.w3.org/1999/html">
    <form id="newNote" action="/newNote">
        <input type="submit" value="Create new Note">
    </form>
    <div class="spacer"></div>
    <form id="changeStyle" action="/changeStyle">
        <input type="submit" value="BlackWhite-Style">
    </form>
</div>

<div class="rowToColumn" id="btnList">
    <form id="byFinishDate" action="/sortByEndDate">
        <input class="btn" type="submit" value="By finish Date">
    </form>

    <form id="byCreatedDate" action="/sortByCreatedDate">
        <input class="btn" type="submit" value="By created Date">
    </form>

    <form id="byImportance" action="/sortByImportance">
        <input class="btn" type="submit" value="By Importance">
    </form>
    <div class="spacer"></div>

    <form id="hideFinished" action="/hideFinished">
        {{#if showFinished}}
            <input class="btn" type="submit" id="finishedIsNotHidden" value="Hide finished">
        {{else}}
            <input class="btn" type="submit" id="finishedIsHidden" value="Show finished">
        {{/if}}
    </form>
</div>

{{#each allNotes}}
    <div class="noteElement rowToColumn">
        <div class="grow" id="content">
            <div class="row_row_column headerLine">
                <div class="firstLine">{{timeUntil endDate}}</div>
                <div class="title">{{title}}</div>
                <div>{{showImportance importance}}</div>
            </div>
            <div class="rowToColumn">
            <label class="firstLine bold">
                {{#if finished}}
                    <input type="checkbox" id="isFinished" name="finished" checked>Erledigt!</label>
                {{else}}
                    <input type="checkbox" id="notFinished" name="finished">Erledigt!</label>
                {{/if}}
                <textarea class="grow" rows="3" value="{{description}}" contenteditable="false"></textarea>
                <!--<p>Id: {{_id}}</p>-->
                <!--<div>Erstellt am: {{createdDate}}</div>-->
            </div>
        </div>

        <div class="columnToRowToColumn" id="donald">
            <form action="/note/{{_id}}">
                <input class="btn" type="submit" value="Edit">
            </form>

            <form action='/note/{{_id}}' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <input class="btn" type='submit' value='Delete'>
            </form>
        </div>
    </div>
{{/each}}