<form id="newNote" action="/newNote">
    <input type="submit" value="Create new Note">
</form>

<form id="changeStyle" action="/changeStyle">
    <input type="submit" value="BlackWhite-Style">
</form>

<form id="byFinishDate" action="/sortByFinishedDate">
    <input type="submit" value="By finish Date">
</form>

<form id="byCreatedDate" action="/sortByCreatedDate">
    <input type="submit" value="By created Date">
</form>

<form id="byImportance" action="/sortByImportance">
    <input type="submit" value="By Importance">
</form>

<form id="showFinished" action="/showFinished">
    <input type="submit" value="Show finished">
</form>


{{#each allNotes}}
    <p>Titel: {{title}}</p>
    <p>Beschreibung: {{description}}</p>
    <p>Wichtigkeit: {{importance}}</p>
    <p>Erledigt bis: {{timeUntil endDate}}</p>
    <p>Id: {{_id}}</p>
    <p>Erstellt am: {{createdDate}}</p>
    <p>Erledigt? {{finished}}</p>

    <form action="/note/{{_id}}">
        <input type="submit" value="Edit">
    </form>

    <form action='/note/{{_id}}' method='post'><input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Note'></form>
{{/each}}