<h2>{{#if withNote}}Edit {{note.title}}{{else}}New Note{{/if}}</h2>
<hr class="horizontalLine">
<form {{#if withNote}}action="/note/{{note._id}}" {{else}}action="/note" {{/if}} method="post">

    <div class="rowToColumn">
        <label class="inputLabel" for="title">Titel</label>
        <input class="input" type="text" id="title" name="title" {{#if withNote}}value="{{note.title}}" {{else}}value="" required{{/if}}>
    </div>
    
    <div class="rowToColumn">
        <label class="inputLabel" for="description">Beschreibung</label>
        <textarea class="input" rows="3" id="description" name="description">{{#if withNote}}{{note.description}}{{/if}}</textarea>
    </div>

    <div class="rowToColumn">
        <label class="inputLabel" for="importance">Wichtigkeit</label>
        <input class="input" type="number" min="0" max="5" id="importance" name="importance" {{#if withNote}}value="{{note.importance}}" {{else}} value="" required{{/if}}>
    </div>

    <div class="rowToColumn">
        <label class="inputLabel" for="endDate">Fertig bis</label>
        <input class="input" type="date" id="endDate" name="endDate" {{#if withNote}}value="{{note.endDate}}" {{else}}value="" required{{/if}}>
    </div>

    <div class="row">
        <label class="spaceLabel"></label>
        <label for="finished">
            <input type="checkbox" id="finished" name="finished" {{#if note.finished}}checked{{/if}}>Erledigt!</label>
    </div>
    <div class="row">
        <label class="spaceLabel"></label>
        <input class="btn" type="submit" value="Speichern">
    </div>

</form>
<div class="row">
    <label class="spaceLabel"></label>
    <a href="/">
        <button class="btn">Abbruch</button>
    </a>
</div>
