<form {{#if withNote}}action="/note/{{note._id}}" {{else}}action="/note" {{/if}} method="post">
    <div class="inputLine">
        <label for="title">Titel</label>
        <input type="text" id="title" name="title" {{#if withNote}}value="{{note.title}}" {{else}}value="" required{{/if}}>
    </div>
    <div class="inputLine">
        <label for="description">Beschreibung</label>
        <input type="text" id="description" name="description" {{#if withNote}}value="{{note.description}}" {{else}} value="" {{/if}}>
    </div>
    <div class="inputLine">
        <label for="importance">Wichtigkeit</label>
        <input type="number" min="0" max="5" id="importance" name="importance" {{#if withNote}}value="{{note.importance}}" {{else}} value="" required{{/if}}>
    </div>
    <div class="inputLine">
        <label for="endDate">Fertig bis</label>
        <input type="date" id="endDate" name="endDate" {{#if withNote}}value="{{note.endDate}}" {{else}}value="" required{{/if}}>
    </div>
    <div>
        <label for="finished">
            <input type="checkbox" id="finished" name="finished" {{#if note.finished}}checked{{/if}}>Erledigt!</label>
    </div>
    <div class="row">
        <input type="submit" value="Speichern">
    </div>

</form>
<a href="/">
    <button>Abbruch</button>
</a>