<!--
TODO: remove
{{#each notes}}
    <p>Titel: {{title}}</p>
    <p>Beschreibung: {{description}}</p>
    <p>Wichtigkeit: {{importance}}</p>
    <p>Erledigt bis: {{endDate}}</p>
    <p>Id: {{_id}}</p>
    <p>Erstellt am: {{createdDate}}</p>
    <p>Erledigt? {{finished}}</p>

    <form action='/notes/{{_id}}' method='post'><input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Note'></form>
{{/each}}
-->